@using MovieApp.Areas.Identity.Data;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model MovieGenreVM
    <H1 class="mb-3">Edit MOVIES</H1>

    <form class="row g-3" method="post" asp-controller="Movie" asp-action="Edit" enctype="multipart/form-data">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Titlel</label>
            <input type="text" class="form-control" id="inputEmail4" asp-for="@Model.Movie.Title">
        </div>
        <input type="hidden" asp-for="@Model.Movie.Id" />
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Description</label>
            <input type="text" class="form-control" id="inputPassword4" asp-for="@Model.Movie.Description">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Released Date</label>
            <input type="datetime-local" class="form-control" id="inputAddress" asp-for="@Model.Movie.ReleasedDate">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Director</label>
            <input type="text" class="form-control" id="inputAddress2" asp-for="@Model.Movie.Director">
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Genres"></label>
            </div>
            <div class="col-8 mb-4">
                <select asp-for="Genre" asp-items="@Model.Genres" class="form-control multiple">
                    <option disabled selected style="background-color:#f3edfe; color:#7d43a3;">Genres</option>
                </select>
            </div>
        </div>
       <div>
        <label for="Image" class="form-label">Image</label>
            <input type="file" class="form-control-file" id="inputEmail4" asp-for="@Model.Movie.Image">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
}
